django==3.2.19
django-filter==21.1
djangorestframework==3.13.1
django-cors-headers
djangorestframework-datatables==0.7.0
django-storages==1.12.3
google-cloud-storage==2.2.1
Pillow==9.0.1
psycopg2-binary==2.9.7
requests==2.27.1
django-sendgrid-v5==1.2.0
openpyxl==3.0.9
xlrd==1.2.0
xlwt==1.2.0
django-fullurl==1.4
django-environ==0.10.0
reportlab==3.6.5
pycountry==22.3.5
phonenumbers==8.13.17
django-phonenumber-field[phonenumbers]==7.1.0
fontawesomefree==6.4.2
django-bootstrap-v5
django-pandas
mysqlclient